html {
  font-size: 15px;
}

body {
  margin: 0;
  background-color: #f1f1f1;
  font-family: "glacial_indifferenceregular", sans-serif;
  color: #0f2649;
}

@font-face {
  font-family: "glacial_indifferenceregular";
  src: url("fonts/glacial-indifference.regular-webfont.woff2") format("woff2"),
    url("fonts/glacial-indifference.regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

.ribbon {
  position: fixed;
  margin: 0px;
  width: 100%;
  height: 60px;
  padding: 0px 10px;
  background: #91dbef;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #f1f1f1;
  z-index: 500;
}

.hamburger {
  display: flex;
  align-items: center;
  z-index: 600;
}

nav {
  display: none;
  width: 70%;
  justify-content: space-around;
}

h1 {
  text-align: center;
  font-size: 2rem;
  line-height: 2rem;
  position: relative;
}

a {
  font-size: 1.3rem;
  font-family: "glacial_indifferenceregular", sans-serif;
  text-decoration: none;
  color: #0f2649;
}

a:hover {
  color: #f1f1f1;
}

#mobile-menu {
  display: none;
  position: fixed;
  top: 60px;
  width: 100%;
  z-index: 500;
}

.dropdown {
  width: 100%;
  height: 60px;
  background-color: #91dbef;
  border: 1px solid #f1f1f1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

section {
/* overflow: auto; */
padding: 5px;
}

/*=================*/

#welcome {
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#welcome > img {
height: 300px;
width: 300px;
/* max-height: 500px;
max-width: 500px;
width: auto;
height: auto; */

}

/*=================*/

#portfolio {
  overflow: hidden;
  background-color: #1e4684;
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#project-wrapper {
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  width: 100%;
  max-width: 700px;
}

#project-wrapper > a {
  display: block;
  min-width: 150px;
  min-height: 150px;
  border: 1px solid #f1f1f1;
  border-radius: 5px;
}

.project-tile {
  display: block;
  background-size: cover;
  /* min-width: 150px;
  min-height: 150px; */
  width: 100%;
  height: 100%;
  border-radius: 5px;
}

.tile-overlay {
  content: "";
  min-width: 150px;
  min-height: 150px;
  width: 100%;
  height: 100%;
  background-color: rgba(255,255,255, 0.7);
  z-index: 100;
  color: #0f2649;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  border-radius: 5px;
  font-size: 1.4rem;
}

.tile-overlay > p {
  margin: 5px;
}

.tile-overlay:hover{
  background-color: rgba(255,255,255, 0.3);
  transition: all 0.3s;
}


#link-0 {
  grid-column: span 2;
  grid-row: span 2;
}

svg {
  position: absolute;
  z-index: 300;
}

/*=============================*/

#services {
  position: relative;
  height: 300px;
  overflow: hidden;
  padding: 0;
}

#services video {
  position: absolute;
  width: 160%;
  display: block;
  filter: grayscale(100%);
  z-index: -100;
  transform: translateY(-50%);
  top: 50%;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255,255,255, 0.5);
  z-index: 0;
}

.overlay-text{
  position: relative;
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  z-index: 400;
}

.overlay-text ul {
  color: #0f2649;
}

.services-container{
text-align: center;
}

.tech-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.tech-item {
  background: rgba(255,255,255, 0.5);
  margin: 2px 5px;
  padding: 3px;
  border-radius: 3px;
}

/*=====================================*/

#about {
  background-color: #91dbef;
}

.about-container {
  width: 95%;
  max-width: 700px;
  margin: 0 auto;
  font-size: 1.2rem;
}

/* .dropcaps {
  float: left;
  font-size: 2rem;
  margin-bottom: -17px;
  margin-right: 5px;
  padding-bottom: 0;
} */

/*=====================================*/

#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
}


/* Different nav style for small screens */

/* Fix the image to full size if screen larger than 453px */
@media only screen and (min-width: 453px) {
  nav {
    display: flex;
  }
  .hamburger {
    visibility: hidden;
  }
  #mobile-menu {
    display: none;
  }
  #welcome > img {
    width: 500px;
    height: 500px;
  }
  .ribbon {
    display: flex;
  }
  #services video {
    width: 100%;
  }
  section {
    padding: 30px;
    }
}
