html {
  font-size: 15px;
}
/*I don't fully understand this selector, but according to blog.prototypr.io it's necessary for the svg waves effect.*/
*,*::before,*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  background-color: #f1f1f1;
}

@font-face {
    font-family: 'glacial_indifferenceregular';
    src: url('fonts/glacial-indifference.regular-webfont.woff2') format('woff2'),
         url('fonts/glacial-indifference.regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.ribbon {
  padding: 10px;
  background:#91dbef;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav {
  width: 50%;
  justify-content: space-around;
}

nav a {
  font-size: 1.3rem;
  font-family: 'glacial_indifferenceregular', sans-serif;
  text-decoration: none;
  color: #0f2649;
}

nav a:hover {
  color: #f1f1f1;
}

#welcome {
  background-color: #f1f1f1;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#portfolio {
  background-color: #91dbef;
  overflow: hidden;
  display: grid;
  grid-template-columns: auto auto auto auto;
  justify-content: space-around;
  grid-gap: 20px 20px;
}

.project-tile {
  width: 300px;
  height: 100px;
}

#portfolio > svg {
  display: block;
}

#services {

}

#about {
  background-color: #91dbef;
}

#contact {

}

h1,
h2,
p {
  font-family: 'glacial_indifferenceregular', sans-serif;
  color: #0f2649;
}

h1 {
  text-align: center;
  font-size: 2rem;
}
@media only screen and (min-width: 500px) {
  nav {
    display: flex;
  }
  .dropbtn {
    visibility: hidden;
  }
}
